body {
    background-color: #f8fcff;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 98px;
    margin-left: 142px;
}

.about {
    display: flex;
    justify-content: space-between;
    width: 301px;
}

.containerhero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 95px;
    margin-right: 98px;
    margin-left: 142px;
}

.banking {
    font-size: 70px;
    color: #222223;
    font-family: 'Bai Jamjuree';
    width: 432px;
    margin: 0px;
    /* top: 185px;
    height: 20px;
    left: 140px; */
    
}

.meet {
    font-size: 18px;
    width: 280px;
    height: 60px;
    margin-top: 48px;
    color: #535354;
}

.img {
    margin: -24px;
    width: 90px;
}
.img-container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.get {
    margin-left: 18px;
    font-weight: 700;
    font-size: 19px;
}

.container-kanan {
    position: relative;
    width: 614px;
    height: 352px;
    background: #80D1FF
}

.visa {
    position: absolute;
    top: -107px;
    left: -52px;
    width: 556px;
    height: 499px
}

.kuning {
    background-color: #FFD968;
    width: 220px;
    height: 352px;
    right: 0px;
    position: absolute;
    

}

.bulet {
    position: absolute;
    bottom: 60px;
    right: 260px;
}

.icon1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerp1 {
    margin-left: 139px;
    margin-top: 128px;
    display: flex;
    flex-wrap: nowrap;

}

.p2 {
    font-family: 'bai jamjuree';
    font-size: 35px;
    margin: 0px;
}

.bold {
    font-family: 'inter';
    font-weight: 700;
    font-size: 20px;
}

.containerp2 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #65baeb6e;
    height: 417px;
    margin-top: 35px;
    
}

.elip {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 520px;
    bottom: 235px;
    opacity: 1;
    top: -35px;
    left: 657px;
}

.we {
    font-family: 'bai jamjuree';
    font-weight: 500;
    font-size: 30px;
    margin: 0px;
    
}

.text20 {
    width: 203px;
    color: #5F5F64;
}
.text {
    color: #5F5F64;
}

.social {
    font-family: 'bai jamjuree';
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.containercust {
    margin-top: 58px;
    width: 1440px;
    height: 642px;
}

.containercust2 {
    width: 1090px;
    height: 444px;
    margin-right: auto;
    margin-left: auto;
}

.customer1 {
    font-family: 'bai jamjuree';
    font-weight: 700;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.analiyze {
    margin: auto;
    text-align: center;
    width: 641px;
    margin-top: 40px;
    color: #5F5F64;

}

.containerpro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
}

.product {
    font-family: 'inter';
    color: #718176;
    margin: 0;
    margin-bottom: 16px;
    

}

.angka {
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 125px;
    height: 125px;
    border-left: none;
    
}

.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 200px;
    height: 125px;
}

.cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 125px;
    height: 125px;
}

.cont4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 200px;
    height: 125px;
    border-right: none;
}

.containerbiru {
    background-color: #80D1FF;
    width: 1300px ;
}