body {
    background-color: #f8fcff;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 98px;
    margin-left: 142px;
}

.about {
    display: flex;
    justify-content: space-between;
    width: 301px;
}

.containerhero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 95px;
    margin-right: 98px;
    margin-left: 142px;
}

.banking {
    font-size: 70px;
    color: #222223;
    font-family: 'Bai Jamjuree';
    width: 432px;
    margin: 0px;
    /* top: 185px;
    height: 20px;
    left: 140px; */
    
}

.meet {
    font-size: 18px;
    width: 280px;
    height: 60px;
    margin-top: 48px;
    color: #535354;
}

.img {
    margin: -24px;
    width: 90px;
}
.img-container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.get {
    margin-left: 18px;
    font-weight: 700;
    font-size: 19px;
}

.container-kanan {
    position: relative;
    width: 614px;
    height: 352px;
    background: #80D1FF
}

.visa {
    position: absolute;
    top: -107px;
    left: -52px;
    width: 556px;
    height: 499px
}

.kuning {
    background-color: #FFD968;
    width: 220px;
    height: 352px;
    right: 0px;
    position: absolute;
    

}

.bulet {
    position: absolute;
    bottom: 60px;
    right: 260px;
}

.icon1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerp1 {
    margin-left: 139px;
    margin-top: 128px;
    display: flex;
    flex-wrap: nowrap;

}

.p2 {
    font-family: 'bai jamjuree';
    font-size: 35px;
    margin: 0px;
}

.bold {
    font-family: 'inter';
    font-weight: 700;
    font-size: 20px;
}

.containerp2 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #65baeb6e;
    height: 417px;
    margin-top: 35px;
    
}

.elip {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 520px;
    bottom: 235px;
    opacity: 1;
    top: -35px;
    left: 657px;
}

.we {
    font-family: 'bai jamjuree';
    font-weight: 500;
    font-size: 30px;
    margin: 0px;
    
}

.text20 {
    width: 203px;
    color: #5F5F64;
}
.text {
    color: #5F5F64;
}

.social {
    font-family: 'bai jamjuree';
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.containercust {
    margin-top: 58px;
    width: 1440px;
    height: 642px;
}

.containercust2 {
    width: 1090px;
    height: 444px;
    margin-right: auto;
    margin-left: auto;
}

.customer1 {
    font-family: 'bai jamjuree';
    font-weight: 700;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.analiyze {
    margin: auto;
    text-align: center;
    width: 641px;
    margin-top: 40px;
    color: #5F5F64;

}

.containerpro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
}

.product {
    font-family: 'inter';
    color: #718176;
    margin: 0;
    margin-bottom: 16px;
    

}

.angka {
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 125px;
    height: 125px;
    border-left: none;
    
}

.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 200px;
    height: 125px;
}

.cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 125px;
    height: 125px;
}

.cont4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #909C92;
    width: 200px;
    height: 125px;
    border-right: none;
}

.containerbiru {
    position: relative;
    background-color: #80D1FF;
    height: 507px;
    width: 568px;
    left: 174.000732421875px;
    top: 56px;
    border-radius: 0px;

}

.containerputih {
    position: absolute;
    height: 412px;
    width: 610px;
    left: -84px;
    top: 50px;
    border-radius: 20px;
    background-color: #ffffff;
}

.gr24 {
    width: inherit;
}

.cards1 {
    width: inherit;
    height: auto;
    margin-left: 25px;
    margin-top: -40px;
}

.containerxxx {
    display: flex;
    flex-wrap: nowrap;

}

.containerxxxx {
    display: flex;
    justify-content: space-between;
    width: 1236px;
}

.containerkanan {
    margin-top: 20px;
    width: 300px;
}

.handof {
    font-family: 'Bai Jamjuree';
    font-weight: 600;
    font-size: 51px;
    width: 458px;
    height: 111px;
    left: 855px;
    top: 69px;
}

.create {
    color: #727272;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 402px;
    height: 50px;
}

.stra {
    margin-left: 0;
    width: 92px;
    height: 27px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.sugges {
    margin-left: 0px;
    width: 286px;
    height: 52px;
    margin-top: -12px;
    color: #727272;
}

.worksc {
    margin-top: 0;
    margin-left: 0;
    width: 141px;
    height: 27px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.workis {
    margin-left: 0;
    width: 286px;
    height: 52px;
    margin-top: -12px;
    color: #727272;
}

.gr9 {
    margin-left: 0;
    width: 161px;
    height: auto;
}

.gr6 {
    width: 161px;
    height: auto;
}

.rw {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containert1 {
    height: 621px;
}

.containert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 552;
    background-color: #41B3F4;
    padding-left: 100px;
}

.containert2 {
    width: 714px;
    height: 140px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 122px;
}

.containert3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81;
    width: 120;
}
 .subs {
    margin-top: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #414449;
 }

 .garis {
    margin-left: 240px;
    margin-top: -76px;
 }

.subs2 {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 81px;
    margin-top: -7px;
    white-space: nowrap;
}

.button {
    padding: 21px 44px;
    background-color: #E15C19;
    border: none;
    color: white;
    margin-left: 85px;
    margin-top: -25px;
}

.containerb {
    width: 1440px;
    height: 175px;
}

.about5 {
    display: flex;
    justify-content: space-between;
    margin-right: 240px;
    width: 335px;
    height: 50px;

}

.bes {
    margin-right: 150px;
    width: 80px;
    height: auto;
}

.containerb3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1081px;
    height: 20px;
    margin-left: 160px;
    margin-top: 50px;
}

.siup {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-right: 70px;
}

.bot {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #404041;
}

.containerbawah {
    display: flex;
    justify-content: space-evenly;
    width: 1081px;
    height: 14px;
    margin-top: 70px;
    margin-left: 160px;
}

.line {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 75px;
}

.containerc {
    width: 1080px;
}

.copy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7B827D;
}
